<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBondService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBondService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2112/bondservice" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBondService" contract="BondShopperService.IBondService"
                name="BasicHttpBinding_IBondService" />
            <endpoint address="net.tcp://localhost:2113/Bondservice" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IBondService" contract="BondShopperService.IBondService"
                name="NetTcpBinding_IBondService">
                <identity>
                    <userPrincipalName value="PC2\Otto" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>